<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334590881340-deud6l32f6u2bm4814uedhfgq0pa2h7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334590881340-deud6l32f6u2bm4814uedhfgq0pa2h7p</string>
	<key>API_KEY</key>
	<string>AIzaSyBUE4tefFIZQ-pYn0HKCg9gIRR_bvC6eIY</string>
	<key>GCM_SENDER_ID</key>
	<string>334590881340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordMapApp</string>
	<key>PROJECT_ID</key>
	<string>wordsmapapp</string>
	<key>STORAGE_BUCKET</key>
	<string>wordsmapapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334590881340:ios:a8ef498dfcb75f9b77dd39</string>
</dict>
</plist>